page-home {
  .home {
    background: linear-gradient(to bottom, #33ccff 0%, #0066cc 100%) !important;
  }
  .fab[mini] {
    padding: 0;
    margin: 0px;
    width: 36vw;
    height: 36vw;
    line-height: 50vw;
  }
  ion-fab[center] {
    left: 32vw;
    margin-left: 0;
  }
  ion-fab[bottom] {
    bottom: 10vh;
    margin-bottom: 0;
  }
  .fab {
    background: #5BC1FF;
  }
}

