flash-card {
  width: calc(100% - 20px);
  padding-left: 10px;
  color:#7d62aa;
  &{
    perspective: 1000px;
  }
  .fc-container{
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    &.fc-back {
      transform: rotateY(180deg);
    }

    .front {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      z-index: 2;
      backface-visibility: hidden;
      //padding-top: 20px;
      //padding-bottom: 20px;
      background: #e6e6e6;
      transform: rotateY(0deg);
    }

    .back {
      width: 100%;
      position: absolute;
      top:0;
      left:0;
      background: #e6e6e6;
      //padding-top: 20px;
      //padding-bottom: 20px;
      transform: rotateY(180deg);
    }

  }
  .fc-back {
    .front {
      z-index: 0;
    }
    .back {
      z-index: 2;
    }

  }
  padding-bottom: 30px;

}
